/****Général****/

*{  
    margin: 0;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
   
}

/****Header****/
header{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.logo{
    display: flex;
    justify-content: center;
    width: 200px;
}
.arrow_flex{
    display: flex;
    justify-content:center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.arrow_flex a{
    display: inline-block;
    position: absolute;
    left: 20px;
    text-decoration: none;
    color: black;
    font-size: 25px;
}


header img{
    width: 100%;
    object-fit: cover;
}

.photo_height{
    height: 380px;
}

/****main****/

main{
    width: 100%;
    height: 1145px
}

.card_flex{
    width: 100%;
    top: -35px;
    position: relative;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #f7f7f7;
}

h1{
    width: 260px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 15px;
    font-weight: 400;
    font-size: 28px;
    font-family: "Shrikhand", cursive;
}

.menu h3{
    font-size: 16px;
    font-weight: 300;
    color: #353535;
}

.flex_content p{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title_decoration{
    position: relative;
    display: inline-block; 
}
.title_decoration1:before{
    position: absolute;
    height: 3px;
    width: 58%;
    left: 0;
    bottom: -5px;
    background: #99E2D0;
    display: block;
    content: "";
}

.title_decoration2:before{
    position: absolute;
    height: 3px;
    width: 83%;
    left: 0;
    bottom: -5px;
    background: #99E2D0;
    display: block;
    content: "";
}

.title_decoration3:before{
    position: absolute;
    height: 3px;
    width: 55%;
    left: 0;
    bottom: -5px;
    background: #99E2D0;
    display: block;
    content: "";
}

.padding_title{
    padding-top: 40px;
}

.flex_heart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-right: 113px;
}

.flex_heart i {
    font-size: 25px;
    padding-right: 20px;
    left: 333px;
    bottom: 40px;
    position: absolute;
    box-sizing: border-box;
}

.flex_heart .fa-solid {
    color: transparent;
    background-image: linear-gradient(356.33deg, #9356DC -45.44%, #FF79DA 127.93%);
    background-clip: text;
    opacity: 0;
}
  
.flex_heart .fa-solid:hover{
    opacity: 1;
}


.card_flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1179px;
}

.card{
    width: 100%;
    height: 69px;
    background: #FFFFFF;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15.0431px;
    margin-top: 20px;
}

.card h3{
    font-size: 18px;
    font-weight: bolder;
    padding-right: 100px;
}

#content{
    padding-top: 15px;
    padding-left: 20px;
    position: relative;

}
.flex_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    isolation: isolate;
    font-size: 15px;
}

.card_title p{
    width: 100%;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.euro{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 10px;
    font-weight: bolder;
    width: 23%;
   
}

.cross {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    width: 5%;
    height: 29px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    padding:20px;
    right: -50px;
    top: 0;
    opacity: 0;
    transition: transform 330ms ease-in-out;
}

.cross .fa-check-circle {
    color: #fff;
    transition: transform 500ms ease-in-out;
}

.card:hover .euro {
    margin-right: 63px;
}
.card:hover .cross {
    opacity: 1;
    transform: translate(-50px);
}
.card:hover .fa-check-circle {
    transform: rotate(360deg);
}

button {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    width: 190px;
    padding: 18px;
    margin-bottom: 40px;
    margin-top: 35px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    /* Button Gradient */
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    /* Shadow/Button */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: none;
}

button:hover {
    transform: scale(1.02);
    opacity: 0.9;
}

/***Footer***/
footer {
    background-color: #353535;
    height: 200px;
}
  
  .footer_logo {
    font-family: "Shrikhand", cursive;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    height: 27px;
    padding: 20px 0 20px 20px;
    color: white;
  }
  
  .flex_footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
  }
  
  footer p {
    padding-bottom: 10px;
    font-weight: bold;
    color: white;
  }
  
  footer i {
    width: 11px;
    height: 13px;
    padding-right: 15px;
  }

  footer a{
    text-decoration: none;
  }


/*****Responsive laptop*****/
@media  all and (min-width: 1080px) and (max-width: 1920px) {

    body{
        width: 100%;
    };

    .photo_height{
       height: 540px;
    }

    header>img{
        height:540px ;
    }

    .euro{
        margin-right: 15px;
    }

    .card:hover .euro {
        margin-right: 85px;
    }

    .flex_heart{
        margin-left: 50px;
    }

    .card_flex{
        width: 70%;
        margin-left: 284px;
    }

    .card{
        width: 200%;
    }

    .menu{
        margin-right: 350px;
    }


    footer{
        display: flex;
        flex-direction: row-reverse;
        align-items: end;
    }

    .footer_logo{
        padding-right: 60px;
    }
    footer h2{
        margin-left: 45px;
    }

    .footer_margin_left{
        margin-left: 50px;
    }

    .flex_footer{
        flex-direction: row;
        gap: 10px;
    }

}