*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h2{
    font-weight: bolder;
    font-size: 24px;
    width: 275px;
}

body{
    width: 100%;
    min-width: 388px;
    max-width: 1440px;
}

/***Header***/
header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

header .logo{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 200px;
    margin-top: 25px;
}

header p{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
    gap: 13px;
}

header .localisation_background{
    background-color: #EAEAEA;
    padding: 15px;
    box-shadow: inset 0px 5px 6px -6px #888
   
}

/***Main***/

.explore{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    background-color: #F6F6F6;
    height: 250px;
    padding: 0 0 25px 0;
    
}

.explore h2{
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
    width: 275px;
    height: 90px;
    
}

.explore p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size:17px;
    padding: 0 29px 10px 10px;
}

.explore button{
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    width: 218px;
    padding: 18px;
    margin-top: 15px;
    color: white;
    /* Button Gradient */
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);

    /* Shadow/Button */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: none;
}
.fonctionnement{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
    margin-left: 18px;

}
ol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

ol button{
    display: flex;
    text-align: center;
    width: 322.49px;
    padding: 27px;
    border: none;
    font-size: 16px;
    font-weight: bold;

    /* Background */
    background: #f7f7f7;

    /* Shadow/Instructions */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;

}

li{
    margin: 30px 0 0 0;
}

li i{
    padding-right: 25px;
    padding-left: 19px;
}

.icon_grey{
    color:#7E7E7E;
}

.icon_purple{
    color: #9356DC;
}

.background_restaurants{
    background-color: #F6F6F6;
}

.restaurants{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 25px;
    padding-top: 50px;
    margin-left: 10px;
    margin-top: 30px;
}

.restaurants img{
    width: 100%;
    height: 70%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: space-between;
    Width:340px;
    Height:251px;
    border-radius:15px;
    background-color: #ffffff ;
}

.restaurants a{
    text-decoration: none;
}


.card_title{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 0 0 16px;
}
.card h3{
    padding-top: 16px;
}

