*{
    margin: 0;
}
h2{
    font-weight: bolder;
    font-size: 24px;
    width: 275px;
}

body{
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    max-width: 1440px;
    min-width: 380px;
}

/***Header***/
header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

header .logo{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 200px;
    margin-top: 25px;
}

header p{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
    gap: 13px;
}

header .localisation_background{
    background-color: #EAEAEA;
    padding: 15px;
    box-shadow: inset 0px 5px 6px -6px #888
   
}

/***Main***/

.explore{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    background-color: #F6F6F6;
    height: 250px;
    padding: 0 0 25px 0;
    
}

.explore h2{
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    font-size: 24px;
    height: 90px;
    width: 100%;
    
}

.explore p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size:17px;
    padding: 0 29px 10px 10px;
}

.explore button{
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    width: 218px;
    padding: 18px;
    margin-top: 15px;
    color: white;
    /* Button Gradient */
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);

    /* Shadow/Button */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: none;
}

.explore button:hover{
    transform: scale(1.02);
    opacity: 0.9;
}
.fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.fonctionnement h2{
    margin: 0;
    padding-right: 71px;
    font-weight: 700;
    
}
ol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

ol button{
    display: flex;
    text-align: center;
    width: 322.49px;
    padding: 27px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    position: relative;

    /* Background */
    background: #f7f7f7;

    /* Shadow/Instructions */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}


li{
    margin: 30px 0 0 0;
}

li::marker{
    position: absolute;
    border-radius: 10px;
    background-color: #9356DC;
}

li i{
    padding-right: 25px;
    padding-left: 19px;
}

.icon_grey{
    color:#7E7E7E;
}

.icon_purple{
    color: #9356DC;
}

span{
    color: white;
    background-color: purple;
    width: 1.5rem;
    height: 1.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    list-style-type: none;
    position: absolute;
    z-index: 1;
    margin: 20px 17px 0 -10px;


}   
.background_restaurants{
    background-color: #F6F6F6;
    padding-bottom: 60px;
}

.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 50px;
    margin-top: 30px;
  }

.restaurants img{
    width: 340px;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: space-between;
    Width:340px;
    Height:230px;
    border-radius:15px;
    background-color: #ffffff;
    margin-left: 7px;
    color: black;
}

.flex_heart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .flex_heart i {
    font-size: 20px;
    padding-right: 20px;
    left:300px;
    bottom: 10px ;
    position: absolute;
  }
  
  .restaurants a {
    text-decoration: none;
    margin:0 0 0 0;
    padding: 0;
    color: black;
  }
  
.restaurants .fa-solid{
    color: transparent;
    background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    background-clip: text;
    opacity: 0;
}

.restaurants .fa-solid:hover{
    opacity: 1;
}


.card_title{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 0 0 16px;
}
.card h3{
    padding-top: 16px;
}


/***Footer***/

footer{
    background-color: #353535;
    height: 200px;
    position: relative;
    
}

.footer_logo{
    font-family:'Shrikhand', cursive; ;
    width: 137px;
    height: 27px;
    padding: 20px 0 20px 20px;
    color: white;
}

.flex_footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
}

footer p{
    padding-bottom: 10px;
    color: white;
}

footer i{
    width: 11px;
    height: 13px;
    padding-right: 15px;
}

