* {
  margin: 0;
}

h2 {
  font-weight: bolder;
  font-size: 24px;
  width: 275px;
}

body {
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  
}

@keyframes grow {
  0%, 100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(1.8);
    transform: scaleY(1.8);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.loader {
  background: linear-gradient(#FFFFFF, #99E2D0, #FF79DA, #9356DC);
  width: 100%;
  height: 100%;
  line-height: 100%;
  font-family: Shrikhand, sans-serif;
  font-size: x-large;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  pointer-events: none;
  animation: loader 1s ease-in-out 2s forwards;
}

.loader__food {
  vertical-align: middle;
  position: absolute;
  top: 40%;
  left: 20%;
}


.loader__food span {
  display: inline-block;
  width: 5px;
  height: 20px;
  padding-right: 1em;
}

.loader__fork {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: rotate 1s linear infinite;
}

.loader__food span:nth-child(1) {
  animation: grow 1s ease-in-out infinite;
}

.loader__food span:nth-child(2) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

.loader__food span:nth-child(3) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

.loader__food span:nth-child(4) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

.loader__food span:nth-child(5) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

.loader__food span:nth-child(6) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

.loader__food span:nth-child(7) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

.loader__food span:nth-child(8) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

/***Header***/
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

header .logo {
  display: flex;
  justify-content: start;
  align-self: center;
  width: 200px;
  margin-top: 25px;
}

header p {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
  gap: 13px;
  color: #353535 ;
  opacity: 1;
}

header i{
  color: #353535;
}

header .localisation_background {
  background-color: #EAEAEA;
  padding: 15px;
  box-shadow: inset 0px 5px 6px -6px #888;
}

/***Main***/
.explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #F6F6F6;
  height: 250px;
  padding: 0 0 25px 0;
}

.explore h2 {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  height: 90px;
  width: 100%;
}

.explore p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 17px;
  padding: 0 29px 10px 10px;
  color: #353535;
}

.explore button {
  width: 200px;
  padding:15px 15px 15px 13px;
  margin-top: 15px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  /* Button Gradient */
  background: linear-gradient(356.33deg, #9356DC -45.44%, #FF79DA 127.93%);
  /* Shadow/Button */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.explore a{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
}

.explore button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

.fonctionnement h2 {
  margin: 0;
  padding-right: 71px;
  font-size: 24px;
  font-weight: 700;
}

ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

ol button {
  display: flex;
  text-align: center;
  width: 322.49px;
  padding: 27px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  background: #f7f7f7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

li {
  margin: 30px 0 0 0;
}

li::marker {
  position: absolute;
  border-radius: 10px;
  background-color: #9356DC;

}

li i {
  padding-right: 25px;
  padding-left: 19px;
  top: 709px;
}

.icon_grey {
  color: #7E7E7E;
}

.icon_purple {
  color: #9356DC;
}

.fonctionnement span{
  color: white;
  background-color: #9356DC;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 14px;
  font-weight: 600;
  display: grid;
  place-items: center;
  border-radius: 50%;
  list-style-type: none;
  position: absolute;
  top: 503px;
  z-index: 1;
  margin: 20px 17px 0 -10px;
}

.background_restaurants {
  background-color: #F6F6F6;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.background_restaurants h2{
  margin-top: 50px;
  margin-left: 45px;
}

.restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  padding-top: 20px;
}

.restaurants img {
  width: 100%;
  height: 150px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: space-between;
  position: relative;
  Width: 340px;
  Height: 230px;
  border-radius: 15px;
  background-color: #ffffff;
  margin-left: 7px;
  margin-bottom: 15px;
  color: black;
}

.new_restaurant{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color:  #008766;
  line-height: 16px;
  padding-top: 5px;
  padding-bottom: 6px;
  text-align: center;
  position: absolute;
  width: 80px;
  right: 0px;
  top: 13.5px;
  left: 246px;
  background: #99E2D0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px; 
}



.flex_heart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.flex_heart i {
  font-size: 30px;
  padding-right: 20px;
  left: 300px;
  bottom: 10px;
  position: absolute;
}

.restaurants a {
  text-decoration: none;
  margin: 0 0 0 0;
  padding: 0;
  color: black;
}

.restaurants .fa-solid {
  color: transparent;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  opacity: 0;
}

.restaurants .fa-solid:hover {
  opacity: 1;
}

.card_title {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0 0 0 16px;
}

.card h3 {
  padding-top: 16px;
}

.card_title p{
  margin-top: 5px;
}

/***Footer***/
footer {
  background-color: #353535;
  height: 200px;
  position: relative;
}

.footer_logo {
  font-family: "Shrikhand", cursive;
  width: 137px;
  height: 27px;
  padding: 20px 0 20px 20px;
  color: white;
}

.flex_footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;
}

footer p {
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
}

footer i {
  width: 11px;
  height: 13px;
  padding-right: 15px;
}

/*# sourceMappingURL=style.css.map */


/*****Responsive laptop*****/
@media  all and (min-width: 1080px) and (max-width: 1920px){


    .loader__food {
      top: 40%;
      left: 35%;
    }
  
    .loader__food {
      top: 40%;
      left: 45%;
    }
  
  .fonctionnement{
    flex-basis: 200px;
  }

  .fonctionnement ol{
    flex-direction: row;
    gap: 50px;
  }

  .fonctionnement h2{
    display: flex;
    padding-left:145px ;
  }

  .fonctionnement span{
    top: 502px;
  }

  ol button{
    width: 350px;
  }

  .background_restaurants h2{
    margin-left: 15%;
  }
  .card{
  width: 560px;
  height: 280px;
  margin-right: 100px;
  }

  .card img{
    height: 189px;
  }
  .flex_heart i{
    left:500px;
  }

  .new_restaurant{
    left: 463px;
    top: 13.5px;
  }
}
